{% extends 'base.html' %} {% block content %}

<h1>{{ team.name }}</h1>
<p><strong>Win/Loss</strong>: {{ team.wins }} / {{team.losses }}</p>

{% if team.coaches %}

<p>
  <strong>Coaches</strong>: {% for coach in team.coaches %}{{coach.name}}{%
  endfor %}
</p>
{% endif %}

<form method="POST" action="{{ url_for('main.team_detail', team_id=team.id) }}">
  {{ form.csrf_token }}
  <fieldset>
    <legend>Edit this team</legend>

    {{ form.name.label }} {{ form.name }} {{ form.wins.label }} {{ form.wins }}
    {{ form.losses.label }} {{ form.losses }} {{ form.submit }}
  </fieldset>
</form>

{% endblock %}
